/* Flex */
.row {
   display: flex;
   flex-direction: row;
}

.column {
   display: flex;
   flex-direction: column;
}

.center {
   display: flex;
   justify-content: center;
}

.space-evenly {
   display: flex;
   justify-content: space-evenly;
}

/* Margin: Vertical*/
.shift-right-9 {
    margin-left:9px;
}

.shift-right-15 {
   margin-left: 15px;
} 

.shift-left-9 {
   margin-right:9px;
}

/* Margin: Horizontal*/
.margin-top--10 {
   margin-top: -10px;
}
 
.margin-bottom--10 {
   margin-bottom: -10px;
}
 
.margin-bottom-0 {
   margin-bottom: 0px;
}

/* Padding */
.padding {
   padding: 25px;
}

/* Other */
.full-width {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-left: -1%;;
   margin-right: 0;
   padding-top: 30px;
   padding-bottom: 30px;
}
 
 

 