.content-details{
    display: flex;
    flex-direction: row;
}

.profile-pic{
    max-height: 300px;
    margin-left: -150px;
    margin-top: -10px;
    margin-bottom:-10px;
}

.profile-details {
    padding-left: 70px;
}

.profile-details p {
    max-width: 500px;
    font-size: 20px;
    text-shadow: none;
    padding:10px;
    background-color: #ffffff55;
    -moz-box-shadow:    3px 3px 5px 6px #ffffff55;
    -webkit-box-shadow: 3px 3px 5px 6px #ffffff55;
    box-shadow:         3px 3px 5px 10px #ffffff55;
}

.profile-line{
    height: 1px;
    width: 330px;
    border-top: 1px solid #222;
    margin-top: -10px;
    margin-left: 0px;
 }

.content-pic{
    width: 120px;
    margin-top: -20px;
    padding-left: 55px;
    transition: transform .2s;
}

.content-pic:hover {
    transform: scale(1.1);
}

 