<!DOCTYPE html>
<html>
<head>
    <title>Fun Practice</title>
    <link rel="stylesheet" type="text/css" href="theme.css">
    <link rel="stylesheet" type="text/css" href="alignment.css">
    <link rel="stylesheet" type="text/css" href="fun.css">
<!--Import: Font: ZCOOL XiaoWei-->
    <link href="https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei" rel="stylesheet">
<!--Import: JQuery-->
    <script src="jquery.min.js"></script>
</head>
<body>
    <div class="outer no-text-shadow">
        <div class="header">Welcome</div>
        <hr class="header-line">
        <div class="navi">
            <a class="content" href="/">Home</a>
            <a class="content" href="/about">About Me</a>
            <a class="content" href="contact.html">Contact Info</a>
            <a class="content" href="/fun">Fun Practice</a>
        </div>
<!-- Image Hover Overlay Styling -->
        <div class="full-width column content pink-background pink-shadow">
            <h2 class="center margin-top--10">Image Hover Overlay Styling</h2>
            <div class="center">
                <div class="hover-image ">
                    <img class="pic-default" src="fun.png" alt="fun">
                    <div class="shift-right overlay">
                        <div class="overlay-text">Overlay</div>
                    </div>
                </div>
                <div class="hover-image">
                    <img class="pic-default" src="fun.png" alt="fun">
                    <div class="shift-right-9 middle">
                        <div class="fade-text">Fade-In</div>
                    </div>
                </div>
                <div class="hover-image">
                    <img class="pic-default" src="fun.png" alt="fun">
                    <div class="shift-right-9 slide-vertical">
                        <div class="slide-text">Slide-Vertical</div>
                    </div>
                </div>
                <div class="hover-image">
                    <img class="pic-default" src="fun.png" alt="fun">
                    <div class="shift-right-9 slide-horizontal">
                        <div class="slide-text">Slide-Horizontal</div>
                    </div>
                </div>
            </div>
        </div>
<!-- Image Modal -->
        <div class="full-width column content ">
            <h2 class="center margin-top--10">Image Modal</h2>
            <div class="center">
                <div class="hover-image">
                    <img class="pic-default" id="outside-modal-img" src="fun.png" alt="fun">
                    <div id="myModal" class="modal">
                        <span class="close">×</span>
                        <img class="modal-content" id="inside-modal-img">
                        <div id="caption">Hello</div>
                    </div>
                </div>
            </div>
        </div> 
<!-- Transition Slide Right -->
        <div class="full-width column content pink-background pink-shadow">
            <h2 class="center margin-top--10">Transition Slide Right</h2>
            <div class="center">
                <div class="hover-image ">
                    <img class="pic-default" src="fun.png" alt="fun">
                    <div class="shift-right-9 transition-slide-horizontal">
                        <div class="slide-text">Transition Slide Right</div>
                    </div>
                </div>
            </div>
        </div>
<!-- Tool Tip -->
        <div class="full-width column content">
            <h2 class="center margin-top--10">Tool Tip</h2>
            <div class="center">
                <div class="hover-image tooltip">
                    <img class="pic-default" src="fun.png" alt="fun">
                    <div class="shift-right-15 center">
                        <div class="tooltip-text">Tool Tip</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="full-width column content pink-background pink-shadow">
            <div class="center">
                <p>content</p>
            </div>
        </div>
        <div class="footer dark-pink-background pink-shadow">
            <div class="footer-content">footer</div>   
        </div>
    </div>
    <script type="text/javascript" src="fun.js"></script>
</body>
</html>   