<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="theme.css">
    <link rel="stylesheet" type="text/css" href="fun.css">
    <!--Import: Font: ZCOOL XiaoWei-->
    <link href="https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei" rel="stylesheet">
</head>
<body>

<div class="outer">
    <div class="header">Welcome</div>
    <hr class="header-line">
    <div class="navi">
        <a class="content" href="/">Home</a>
        <a class="content" href="about.html">About Me</a>
        <a class="content" href="contact.html">Contact Info</a>
        <a class="content" href="/fun">Fun Practice</a>
    </div>
    <div class="full-width column content pink-background pink-shadow">
        <img class="pic-default" src="fun.png" alt="fun">
    </div>
    <div class="full-width column content ">
        <img class="pic-default" src="fun.png" alt="fun">
    </div> 
    <div class="bottom"></div>
    <div class="footer dark-pink-background pink-shadow">
        <div class="footer-content">
          footer  
        </div>   
    </div>
</div>

</body>
</html>