<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="theme.css">
    <link rel="stylesheet" type="text/css" href="alignment.css">
    <link rel="stylesheet" type="text/css" href="home.css">
    <!--Import: Font: ZCOOL XiaoWei-->
    <link href="https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
    <div class="outer">
        <div class="header">Welcome</div>
        <hr class="header-line">
        <div class="navi">
            <a class="content" href="/">Home</a>
            <a class="content" href="/about">About Me</a>
            <a class="content" href="contact.html">Contact Info</a>
            <a class="content" href="/fun">Fun Practice</a>
        </div>
        <div class="profile full-width row pink-background pink-shadow">
            <img class="profile-pic " src="profile.png" alt="profile">
            <div class="profile-details hover-image ">
                <h1>Tiffhanie Ramos</h1>
                <hr class="profile-line">
                <div class="profile-slide-vertical">
                    <div class="profile-paragraph">Hello, my name is Tiffhanie Ramos and I enjoy creating websites. 
                        I am a Business Analytics and Information Technology major at Rutgers Business School.
                        My education has taught me the necessary knowledge of how businesses stay alive in their industry and how to make businesses grow. 
                        Along with my business knowledge, I have also been educated in developing a website from start to finish. 
                        I promise to give my clients the best website I can provide them along with excellent customer service.              
                    </div>
                </div>
            </div>
        </div>
        <div class="full-width column content ">
            <h2 class="center margin-bottom--10">A Website Should Always Be:</h2>
            <div class="content-details center">
                <div class="column ">
                    <h3 class="padding">Simple and Clean</h3>
                    <img class="content-pic" src="simple.png" alt="simple">
                </div>
                <div class="column ">
                    <h3 class="padding">Easy to Navigate</h3>
                    <img class="content-pic" src="navigate.png" alt="navigate">
                </div>
                <div class="column ">
                    <h3 class="padding">Fast and Efficient</h3>
                    <img class="content-pic" src="fast.png" alt="fast">
                </div>
            </div>
        </div>
        <div class="footer dark-pink-background pink-shadow">
            <div class="footer-content">
            footer  
            </div>   
        </div>
    </div>
</body>
</html>