<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="theme.css">
    <link rel="stylesheet" type="text/css" href="home.css">
    <!--Import: Font: ZCOOL XiaoWei-->
    <link href="https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei" rel="stylesheet">
</head>
<body>

<div class="outer">
    <div class="header">Welcome</div>
    <hr class="header-line">
    <div class="navi">
        <a class="content" href="home.html">Home</a>
        <a class="content" href="contact.html">About Me</a>
        <a class="content" href="contact.html">Contact Info</a>
    </div>
    <div class="full-width row pink-background pink-shadow">
    
        <img class="profile-pic" src="profile.png" alt="profile">
        <div class="profile-details">
            <h1>Tiffhanie Ramos</h1>
            <hr class="profile-line">
            <p>content</p>
        </div>
    </div>
    <div class="full-width column">
        <h2 class="center">A Website Should Always Be:</h2>
        <div class="content-details center">
            <h3 class="padding">Simple and Clean</h3>
            <h3 class="padding">Easy to Navigate</h3>
            <h3 class="padding">Fast and Efficient</h3>
        </div>
    </div>
    <div class="full-width pink-background pink-shadow">
        <h2>content</h2>
    </div>
    <div class="full-width">
        <h2>content</h2>
    </div>
    <div class="full-width pink-background pink-shadow">
        <h2>content</h2>
    </div>
    <div class="bottom"></div>
    <div class="footer dark-pink-background pink-shadow">
        <div class="footer-content">
          footer  
        </div>   
    </div>
</div>

</body>
</html>